/*Start of header*/

/*Main tool bar on the header bar*/
.main-headerbar li {
    float: left;
    margin-right: 3px;
    padding: 3px;
}
.main-headerbar ul {
    list-style-type : none;
    margin: 0px;
    padding: 0px;
    z-index: 2;
}
.main-headerbar a:link,
.main-headerbar a:visited {
    background-color: maroon;
    color: white;
    display: block;
    font-size: 100%;
    font-weight: bold;
    padding: 4px;
    text-align: center;
    text-decoration: none;
}
.main-headerbar a:hover ,
.main-headerbar a:active {
    background-color: white;
    color: lightcoral;
    text-decoration: none;
}
.main-headerbar img {
    float: left;
    height: 31px;
    margin-right: 253px;
    width: 90px;
}
.main-headerbar input {
    background-color: white ;
    color: black;
    height: 24px;
    margin-bottom: 50px;
}

.icon {
    background: url(../image/search.png) right no-repeat;
    color: black;
    width: 150px;
}

/*Sub-tool bar on the header bar*/
.sub-headerbar {
    display: none;
    position: absolute;
    visibility: hidden;
}
.sub-headerbar ul {
    float: right;
    list-style-type: none;
}
.sub-headerbar li {
    margin-right: 0px;
}

.sub-headerbar a:link,
.sub-headerbar a:visited {
    background-color: maroon;
    color: white;
    display: block;
    font-size: 20px;
    font-weight: bold;
    padding: 6px;
    text-align: center;
    text-decoration: none;
    width: 130px; 
}
.sub-headerbar a:hover,
.sub-headerbar a:active {
    background-color: white;
    color: maroon;
    text-decoration: none;
}
li:hover >.sub-headerbar {
    display: block;
    opacity: 1;
    visibility: visible;
}

/*Background of header*/
.header-background {
    background-color: darkred;
    float: right;
    height: 133px;
    margin: -10px;
    padding: 0px;
    position: absolute;
    width: 1500px;
    z-index: -1; 
}
.header-background hr {
    background-color: maroon;
    border: 1px maroon solid;
    height: 32px;
    opacity: 0.9;
    position: absolute;
    width: 1500px;
    z-index: 0;
}
.header-background img {
    float: right;
    position: relative;
    top: -14px;
}

/*Centering of Main Div along with main contents*/
.divline1 {
    height: 2000px;
    margin: -10px auto 0px auto;
    position: relative;
    width: 1000px;
}
.divline1 hr {
    background-color: maroon;
    height: 1px;
    margin: 50px auto 0px auto;
    position: relative;
    width: 1000px;
}

/*Display last updated on*/
.news {
    float: left;
    position: absolute;
    top: 20px;
    width: 500px;
}
.news a {
    color: white;
    float: left;
    font-size: 40px;
    margin: 0px;
    text-decoration: none;
}
.news p {
    color: white;
    float: left;
    margin: 20px;   
}

/*Navigation Menu bar*/
.header-bar {
    height: 30px;
    opacity: 0.8;
    width: 1000px;
}
.header-bar ul {
    height: 31px;
    max-width: 1000px;
    padding: 0px;
}
.header-bar li {
    font-size: 15px;
    float: left;
    list-style-type: none;

}
.header-bar a:link,
.header-bar a:visited {
    background-color: black;
    color: white;
    display: block;
    font-weight: bold;
    padding: 5px 11px 5px 11px;
    text-decoration: none; 
}
.header-bar a:hover ,
.header-bar a:active {
    background-color: white;
    color: maroon;
    text-decoration: underline;
}

/*First news frame*/
.news-frame1 {
    border-bottom: 1px grey solid;
    float: left;
    height: 220px;
    margin: 10px auto 0px auto;
    position: relative;
    width: 650px;  
}
.news-frame1 a:link,
.news-frame1 a:active {

    text-decoration: none;
}
.news-frame1 a:hover,
.news-frame1 a:visited {
    text-decoration: underline;
}
.news-frame1 h1 {
    float: left;
    margin: -7px 0px 6px 0px;
    padding: 0px;
}
.news-frame1 h1:link,
.news-frame1 h1 :active {

    text-decoration: none;
}
.news-frame1 h1:hover,
.news-frame1 h1:visited {
    text-decoration: underline;
}
.news-frame1 img {
    float: left;
}
.news-frame1 p {
    float: right;
    margin: 0px;
    position: relative;
}
.news-frame1 li {
    float: left;
    list-style-image: url(image/bul1.png);
    margin-left: 32px;
    margin-top: 5px;
    padding: 0px;
    position: relative; 
}
.news-frame1 span {
    margin: -24px;
}

/*First side frame*/
.side-frame1 {
    background-color: ghostwhite;
    float: right;
    height: 200px;
    margin: 10px auto 0px auto;
    width: 330px;  
}
.side-frame1 h2 {
    margin: 4px;
}
.side-frame1 a:link,
.side-frame1 a:visited {
    text-decoration: none;
}
.side-frame1 a:hover,
.side-frame1 a:active {
    text-decoration: underline;
}
.side-frame1 img {
    float: left;
    margin: 5px;
}
.side-frame1 h3 {
    margin: 0px;
}
.side-frame1 p {
    margin-top: 0px;
}

/*Second news frame*/
.news-frame2 h3 {
    float: left;
    margin: -5px 0px 0px 6px;
    padding: 0px;
    top: 0px;
}
.news-frame2 h3:link,
.news-frame2 h3 :active {

    text-decoration: none;
}
.news-frame2 h3:hover,
.news-frame2 h3:visited {
    text-decoration: underline;
}
.news-frame2 {
    border-bottom: 1px grey solid;
    float: left;
    height: 180px;
    position: relative;
    width: 650px;
    top: 10px;  
}
.news-frame2 a:link,
.news-frame2 a:active {

    text-decoration: none;
}
.news-frame2 a:hover,
.news-frame2 a:visited {
    text-decoration: underline;
}
.news-frame2 img {
    float: left;
}
.news-frame2 p {
    float: right;
    margin: 0px;
    position: relative;
}
.news-frame2 li {
    float: left;
    list-style-image: url(image/bul1.png);
    margin-left: 32px;
    margin-top: 5px;
    padding: 0px;
    position: relative;
}
.news-frame2 span {
    margin: -24px;
}

/*Second side frame*/
.side-frame2 {
    background-color: ghostwhite;
    float: right;
    height: 490px;
    margin: 10px auto 0px auto;
    width: 350px;  
}
.side-frame2 h2 {
    margin: 4px;
}
.side-frame2 a:link,
.side-frame2 a:visited {
    text-decoration: none;
}
.side-frame2 a:hover,
.side-frame2 a:active {
    text-decoration: underline;
}
.side-frame2 img {
    float: left;
    margin: 5px;
}
.side-frame2 h3{
    margin: 0px;
}
.side-frame2 p {
    margin-top: 0px;
}

/*Third news frame*/
.news-frame3 h3 {
    float: left;
    margin:-5px 0px 0px 6px;
    padding: 0px;
    top: 0px;
}
.news-frame3 h3:link,
.news-frame3 h3 :active {
    text-decoration: none;
}
.news-frame3 h3:hover,
.news-frame3 h3:visited {
    text-decoration: underline;
}
.news-frame3 {
    float: left;
    height: 180px;
    position: relative;
    width: 650px;
    top: 20px;
}
.news-frame3 a:link,
.news-frame3 a:active {
    text-decoration: none;
}
.news-frame3 a:hover,
.news-frame3 a:visited {
    text-decoration: underline;
}
.news-frame3 img {
    float:left;
}
.news-frame3 p {
    float: right;
    margin: 0px;
    position: relative;
}
.news-frame3 li {
    float: left;
    list-style-image: url(image/bul1.png);
    margin-left: 32px;
    margin-top: 5px;
    padding: 0px;
    position: relative;
}
.news-frame3 span {
    margin: -24px;
}

/*First slide video show*/
.slide-video1 {
    border-bottom : 1px black solid;
    float: left;
    height: 150px;
    margin: 0px;
    position: relative;
    top: 30px;
    width: 650px;   
}
.slide-video1 img {
    display: block;
    float: left;
    margin: 0px;
    padding: 0px 1px 0px 0px;
    position: relative; 
}
.slide-video1 p {
    background-color: orange;
    display: block;
    float: left;
    height: 50px;
    margin: 0px 1px 0px 0px;
    padding: 0px 0px 0px 2px;
    position: relative;
    width: 142px;
}
.slide-video1 a:link,
.slide-video1 a:visited {
    color: white;
    text-decoration: none;
}
.slide-video1 a:hover,
.slide-video1 a:active {
    text-decoration: underline;
}

/*Fourth news frame*/
.news-frame4 {
    float: left;
    height: 200px;
    margin: 0px;
    position: relative;
    top: 20px;
    width: 330px;
}
.news-frame4 a:link,
.news-frame4 a:visited {
    text-decoration: none;
}
.news-frame4 a:hover,
.news-frame4 a:active {
    text-decoration: underline;
}
.news-frame4 p {
    margin: 0px;
    position: relative;
    width: 350px;
}
.news-frame4 h3 {
    margin-bottom: 5px;
    position: relative;
}
.news-frame4 hr {
    float: left;
    height:1px;
    margin-top: 10px;
    position: relative;
    width: 320px;
}

/*Fifth news frame*/
.news-frame5 {
    float: left;
    height: 200px;
    margin: 0px;
    padding-left: -80px;
    position: relative;
    top: 20px;
    width: 300px;
}
.news-frame5 a:link,
.news-frame5 a:visited {
    text-decoration: none;
}
.news-frame5 a:hover,
.news-frame5 a:active {
    text-decoration: underline;
}
.news-frame5 ul {
    font-weight: bold;
    line-height: 150%;
    list-style-type: none;
}

/*Second slide video show*/
.slide-video2 {
    float: left;
    height: 200px;
    position:relative;
    top: 30px;
    width:650px;  
}
.slide-video2 img {
    display: block;
    float: left;
    margin: 0px;
    padding: 0px 1px 0px 0px;
    position: relative;
}
.slide-video2 p  {
    background-color: orange;
    display: block;
    float: left;
    height: 50px;
    margin: 0px 1px 0px 0px;
    padding: 0px 0px 0px 2px;
    position: relative;
    width: 142px;   
}
.slide-video2 a:link,
.slide-video2 a:visited {
    color: white;
    text-decoration: none;
}
.slide-video2 a:hover,
.slide-video2 a:active {
    text-decoration: underline;
}

/*Sixth news frame*/
.news-frame6 {  
    float: left;
    height: 400px;
    position: relative;
    top: 20px;
    width: 650px;   
}
.news-frame6 hr {
    margin: 0px;
    width: 650px;

}
.news-frame6 h2 {
    margin: 15px 5px 5px 0px;
}

.news-frame6 a:link,
.news-frame6 a:visited {
    text-decoration: none;
}
.news-frame6 a:hover,
.news-frame6 a:active {
    text-decoration: underline;
}
.news-frame6a,
.news-frame6b,
.news-frame6c,
.news-frame6d {
    float: left;
    margin-right: 10px;
    width: 150px;

}
.news-frame6a img ,
.news-frame6b img,
.news-frame6c img,
.news-frame6d img {
    margin: 0px;
}
.news-frame6 h3 {
    margin: 3px;
}
.news-frame6a p,
.news-frame6b p,
.news-frame6c p,
.news-frame6d p {
    font-weight: bold;
    margin: 0px 0px 2px 0px;   
}
.l2 a:active>.read {
    visibility: visible;
}

/*Footer*/
.footer {
    border-bottom: 1px black solid;
    float: left;
    height: 170px;
    width:1000px;   
}
.footer1 {
    float: left;
    height: 150px;
    width: 650px;   
}
.footer1 h2 {
    color: grey;
    font-weight: bold;
}

.email-icon,
.tv-icon,
.new-icon,
.alert-icon,
.mob-icon {
    float:left;
    height: 100px;
    margin-right: 30px;
    width: 100px;   
}
.email-icon img,
.tv-icon img,
.new-icon img,
.alert-icon img,
.mob-icon img {
    margin: 0px;
    padding-left: 2px;
}
.email-icon p,
.tv-icon p,
.new-icon p,
.alert-icon p,
.mob-icon p {
    margin: 0px;
}
.email-icon a:link,
.email-icon a:visited,
.tv-icon a:link,
.tv-icon a:visited,
.new-icon a:link,
.new-icon a:visited,
.alert-icon a:link,
.alert-icon a:visited,
.mob-icon a:link,
.mob-icon a:visited {
    font-weight: bold;
    text-decoration: none;
    margin: 0px; 
}
.email-icon a:hover,
.email-icon a:active,
.tv-icon a:hover,
.tv-icon a:active,
.new-icon a:hover,
.new-icon a:active,
.alert-icon a:hover,
.alert-icon a:active,
.mob-icon a:hover,
.mob-icon a:active {
    text-decoration: underline;
}

.footer2 {
    float: right;
    height: 150px;
    width: 350px;    
}
.footer2 a:link,
.footer2 a:visited {
    color: grey;
    text-decoration: none;
}
.footer2 a:hover,
.footer2 a:active {
    color: grey;
    text-decoration: underline;
}
.footer2 p {
    margin: 0px;
}

.footer-last {
    float:left;
    height: 100px;
    width: 1000px; 
}

.footer-last1 {
    float: left;
    height: 100px;
    width: 370px;   
}

.footer-last2 {
    float: right;
    height: 100px;
    width: 600px;  
}
.footer-last2 ul {
    float: left;
    list-style-type: none;
    margin: 15px;
}
.footer-last2 a:link,
.footer-last2 a:visited {
    display: block;
    color: grey;
    text-decoration: none;   
}
.footer-last2 a:hover,
.footer-last2 a:active {
    text-decoration: underline;
}
